
<!-- <ng-container *ngFor="let ind of marking; let i= index"> -->
  <div class="testarea">
  
    <div class="quest">
      <h4>Question {{ 1 }} </h4>
      <h5> {{ marking[currentQuestionIndex]?.questionText }} </h5>
      <div *ngIf="marking[currentQuestionIndex]?.graphics">
        <ion-button fill="outline" (click)="openModal(marking[currentQuestionIndex]?.images.toUpperCase())">See Diagram</ion-button>

        <ion-img   (click)="openModal(marking[currentQuestionIndex]?.images.toUpperCase())" src="https://ulearnlms.net/checkpoint/images/{{ marking[currentQuestionIndex]?.graphics }}" ></ion-img>
      </div>
     
    </div>
    <div>
      <ion-list>
      <form [formGroup]="registrationForm1" (ngSubmit)="onSubmit()">

  
          <ion-item lines="none">
    
            <ion-textarea [(ngModel)]="dataArray[marking[currentQuestionIndex]?.id]"  name="answer"   labelPlacement="floating" fill="outline" placeholder=" Type Your Answer"  formControlName="answer" name="answer" ></ion-textarea>

            <!-- <ion-input type="hidden" formControlName="test_id" name="test_id" value="{{ marking[currentQuestionIndex]?.questionText }}"></ion-input> -->

         
          

            </ion-item>
           
      </form>
  
  
  
  
  
  
       
      </ion-list>
  
    </div>

    <div>
      <ion-item lines="none">
        <ion-button fill="outline"  size="default" slot="start"  (click)="prevQuestion()" [disabled]="currentQuestionIndex === 0">Previous</ion-button>
        <ion-button fill="outline" size="default" slot="end" (click)="nextQuestion()" [disabled]="currentQuestionIndex === marking.length - 1">Next</ion-button>
      </ion-item>
    </div>
  
  
  </div>


  <ion-modal #modal trigger="myModal">
    <ng-template>
     
  
      <ion-content>
          <ion-button fill="outline" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        <ion-img [src]="modalImage" [alt]="modalImage"></ion-img>
      </ion-content>
    </ng-template>
  </ion-modal>